.calculation {
  color: $color-purple;

  & > div {
    background: $color-white;
    margin: {
      bottom: 2px;
    }
    padding: 10px;
  }

  &--heading {
    @extend %unselectable;

    font-family: $font-family-display;
    margin: {
      bottom: 2px;
    }
    text-transform: uppercase;

    .isClosed & {
      cursor: pointer;
      &:hover {
        background: darken($color-white, 10%);
      }
    }
  }

  &--body {

  }

  &.isOpen {
    div {
      background: darken($color-white, 10%);
    }
  }
}
