footer {
  color: $color-white;
  padding: $line-height-base 10px;
  font-family: $font-family-display;
  font-size: $font-size-base - 2px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}
