*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: darken($color-white, 10%);
  color: $color-black;
  font-family: $font-family-default;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
}

h1 {
  font-family: $font-family-display;
  font-size: $font-size-base * 1.5;
  letter-spacing: 0.1em;
  line-height: 3;
  text-transform: uppercase;
}

.site {
  margin: 0 auto;
  max-width: 500px;
}

pre {
  white-space: pre-wrap;
}
