*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: $color-purple;
  color: $color-purple;
  font-family: $font-family-default;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
}
