label {
  display: none;
}

input {
  border: 1px solid $color-purple;
  color: $color-purple;
  font-family: $font-family-display;
  font-size: $font-size-base;
  outline: none;
  padding: $line-height-base / 2 10px;
  width: 100%;
}
