ohai world, this is {{title}}

<dl *ngIf="cardsWithHighestCMC">
  <dt>Card with highest CMC</dt>
  <dd>
    <ul>
      <li *ngFor="#card of cardsWithHighestCMC">{{card.name}} ({{card.cmc}})</li>
    </ul>
  </dd>
</dl>

<dl *ngIf="cardsWithLongestName">
  <dt>Cards with longst name</dt>
  <dd>
    <ol>
      <li *ngFor="#card of cardsWithLongestName">{{card.name}} ({{card.name.length}})</li>
    </ol>
  </dd>
</dl>

<dl *ngIf="cardsWithMostPower">
  <dt>Cards with most power</dt>
  <dd>
    <ol>
      <li *ngFor="#card of cardsWithMostPower">{{card.name}} ({{card.power}})</li>
    </ol>
  </dd>
</dl>

<dl *ngIf="cardsWithHighestPMR">
  <dt>Cards with highest PMR (Power-Mana Ratio)</dt>
  <dd>
    <ol>
      <li *ngFor="#card of cardsWithHighestPMR">{{card.name}} ({{card.power}}/{{card.cmc}} = {{card.pmr}})</li>
    </ol>
  </dd>
</dl>

<ol *ngIf="cards">
  <li *ngFor="#card of cards">{{card.name}}</li>
</ol>
