ohai world, this is {{title}}

<dl *ngIf="cardsWithHighestCMC">
  <dt>Card with highest CMC</dt>
  <dd>
    <ul>
      <li *ngFor="#card of cardsWithHighestCMC">{{card.name}} ({{card.cmc}})</li>
    </ul>
  </dd>
</dl>

<dl *ngIf="cardWithLongestName">
  <dt>Card with longst name</dt>
  <dd>{{cardWithLongestName.name}} ({{cardWithLongestName.name.length}})</dd>
</dl>

<dl *ngIf="cardWithMostPower">
  <dt>Card with most power</dt>
  <dd>{{cardWithMostPower.name}} ({{cardWithMostPower.power}})</dd>
</dl>

<ol *ngIf="cards">
  <li *ngFor="#card of cards">{{card.name}}</li>
</ol>
